<html>
<body>
<?php

/*
 * This file is (c) Copyright 2009 by Olivier BERGER, Institut
 * TELECOM
 *
 * Use, modification, redistribution of this software are subject to
 * the terms of the NEW BSD License, whose text can be found in the
 * 'COPYING' file that is distributed along with the software archive.
 *
 * Thus you may use it at your own risk, of course !
 *
 * This program has been developed in the frame of the HELIOS
 * project with financial support of its funders.
 *
 */

/* $Id$ */

require_once('_resource_xml.php');

$tracker = 'unknown';

switch (TRACKER_TYPE) {
	case 'mantis':
		$tracker = 'Mantis';
		break;
	case 'fusionforge':
		$tracker = 'FusionForge';
		break;
	case 'demo':
		$tracker = 'Demo Server';
		break;
	default:
		$tracker = 'Unknown';
		break;
}

print '<h1>'.$tracker.' Change Requests:</h1>';
$xml = createRessourceCollectionView($this);
print '<pre>'.(str_replace('>', '&gt;', str_replace('<', '&lt;', $xml))).'<pre>';
?>

</body>
</html>
